@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br />
<div class="jumbotron" style="text-align:center; background-color:forestgreen; color: white;">
    <h1>Tarea 3 - Ingeniería</h1>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center;">
        <h2>Registro Policial - Ingeniería Inversa</h2>
    </div>
</div>
<br />